.container {
  width: 100%;
  height: 100%;
  margin: 0;
}

#main_canvas {
  position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
  border: none;
  height: 100%;
  overflow: hidden;
	pointer-events: none;
  right: 250px;
}

#web_div {
  border none;
	z-index: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
  padding: 0;
}

  #web_view {
    background-color: white;
    margin-top: 40px;
    height: 100%;
    height: calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: -webkit-calc(100% - 40px);
    width: 100%;
  }

.www_frame {
  padding-right: 250px;
  height: 100%;
  overflow-x: scroll;
  margin-left: auto;
  margin-right: auto;
}


html, body {
height:100%;
overflow: hidden;overflow-x: scroll;
}

body {
	background: #111;
}



.rectangle {
    border: 2px dotted #FF0000;
    position: absolute;
	  z-index: 2;
}

.reactangle p {
    position: relative;
    top: 0px;
}

.circle {
    border: 2px dotted #FF0000;
    position: absolute;
	   z-index: 2;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.circle p {
    position: relative;
    top: 0px;
}

.rectangle-btn, .circle-btn {
  background-color: #AAA;
  border: none;
  cursor: pointer;
}

.selected-tool-btn {
  background-color: #EEE;
}

.shape {
  /* figury sa niezaznaczalne */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
