@media (max-width:780px) {
    body { -webkit-overflow-scrolling: touch !important; }
    #web_div { -webkit-overflow-scrolling: touch !important; overflow-y: scroll !important;overflow-x: scroll !important;height: calc(100% + 1px);}
}