@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext);
body { font-family: 'Open Sans', sans-serif;margin: 0;padding: 0;color:#F0F0F0; font-weight: 100;-webkit-font-smoothing: antialiased;}
a{text-decoration:none;border:none;color:#303232;}
a:hover{text-decoration:none;}
img{border:none;}
h1,h2,h3,h4,h5,span,p,ul,li{margin:0;padding:0;font-weight:100;}
li{list-style:none}
table{margin:0;padding:0;}
tr{margin:0;padding:0;}
td{margin:0;padding:0;vertical-align: top;}
input, textarea { -webkit-background-clip: padding-box !important;background-clip: padding-box !important; }
input:focus { outline: 0; }
.clear { clear:both;}

.header-box {position: fixed;top: 0;width: 100%;height: 40px;background-color: #269497;line-height: 40px;box-sizing: border-box;}
.right-border-bottom { width: 250px; position: absolute;border-bottom: 1px #FBFBFB solid;top: 40px;right: 0;}
.logo-box { width: 100px;float: left;margin-left: 5px;margin-top: 3px; }
.logo-box img { width: 100px; }
.header-search { width: 35%;padding-left: 27%; }
.head-input { margin-top: -4px; }
.head-input input { width: 100%;border-radius: 3px;border: 0;padding: 6px 25px 6px 5px;line-height: 11px;font-size: 11px; text-align: center;color:#ABABAB;box-sizing: border-box;}
.head-input input:focus { color:#303232; }
.head-input a.refresh-ico { display: inline-block;cursor: pointer;position: relative;float: right;margin-top: -24px;margin-right: 7px;font-size: 13px;color:#5C5C5C;line-height: 13px; }
.head-input a.refresh-ico:hover { color: #8D8D94; }
.right-setting-ico { position: absolute;right: 260px;top: 10px;font-size: 20px;line-height: 20px; color:#fff; }
.right-setting-ico:hover {  }

.header-width-table { width: 100%;table-layout: fixed; }
.header-width-table tr td.td-logo { width: 113px;line-height: 20px; }
.header-width-table tr td.td-logo-btns { width: 24%; }
.header-width-table tr td.td-logo-input {  }
.header-width-table tr td.td-logo-input-btn { display: none;width: 42px; }
.header-width-table tr td.td-logo-warning { width: 43px; }
.header-width-table tr td.td-logo-warning.right { width: 24%; }
.header-width-table tr td.td-logo-options { width: 40px; }

.navi-head-btns { float: right;width: 60px;margin-top: 5px;line-height: 15px; }
.navi-head-btns .back-head-btn { display: inline-block;background-color: #fff;border-radius: 3px 0 0 3px;padding: 5px 10px 5px 10px; margin-right: -5px;font-size: 15px;line-height: 15px;}
.navi-head-btns .forward-head-btn { display: inline-block;background-color: #fff;border-radius: 0 3px 3px 0;padding: 5px 10px 5px 10px;font-size: 15px;border-left: 1px #DFDFDF solid; }
.navi-head-btns a:hover { background-color: #FBFBFB; }

.navi-right-btn { float: left;margin-top: 5px;line-height: 15px;padding-left: 9px; }
.navi-right-btn .right-navi-atten { background-color: #fff;border-radius: 3px;font-size: 15px;line-height: 15px;padding: 5px 10px 5px 10px;color:#03A678;display: inline-block;}
.navi-right-btn .right-navi-atten i { line-height: 15px;font-size: 15px; }
.navi-right-btn .right-navi-atten#mytest-a { color:red; }
.navi-right-btn .right-navi-reset { background-color: #fff;border-radius: 3px;font-size: 15px;line-height: 15px;padding: 5px 10px 5px 10px;color: #303232;display: inline-block;}
.navi-right-btn .right-navi-reset i { line-height: 15px;font-size: 15px; }
.navi-right-btn a:hover { background-color: #FBFBFB; }
.td-logo-warning.mobile-top-btn { display: none; }

.navi-right-btn .right-navi-input { background-color: #fff;border-radius: 3px;font-size: 15px;line-height: 15px;padding: 5px 10px 5px 10px;color:#EB5566;display: inline-block;cursor: pointer;}
.navi-right-btn .right-navi-input i { line-height: 15px;font-size: 15px; }

.right-box { background-color: #FBFBFB;border-left: 1px #F2F2F3 solid; position: fixed; top: 0; right:0;width:250px;height: 100%;}
.employer, .domain { cursor: pointer; }
.employer-table { width:251px;margin-left: -1px; padding: 1px 5px 2px 5px;background-color: #4DA2A5;color: #fff;height: 40px;line-height: 40px;}
.employer-table:hover { background-color: #24888B; }
.employer-table tr td { vertical-align: middle;}
.employer-table tr td p.name { font-weight: normal;font-size:14px;line-height: 14px; }
.employer-table tr td p.title { font-weight: 100; font-size:10px;line-height: 10px; }
.employer-table tr td.img { width:35px;line-height: 33px; }
img.mega-image { height: 26px;line-height: 30px;width: 26px;border-radius: 50%;margin-bottom: -4px; margin-left:3px; }

.employer-table-2 { width:100%;}
.employer-table-2 tr td { vertical-align: middle; border-bottom: 1px #F2F2F3 solid; padding: 8px 2px 8px 0;}
.employer-table-2 tr td p.name { font-weight: 400; font-size:15px;color: #303232; }
.employer-table-2 tr td p.title { font-weight: 100; font-size:10px;color: #303232; }
.employer-table-2 tr td.img { width:45px; padding-left: 7px; }

.drop-button { color:#F0F0F0; width:30px; height: 30px; text-align: center; border-radius:50%; display: block;}
.drop-button i { font-size:18px;line-height: 18px; margin-top:7px;color:#fff; }
.drop-button.employer-1 { background-color: transparent;margin-top: -4px;}
.drop-button.employer-1 i { color: #fff; }
.drop-button.employer-1:hover { background-color: transparent;}
.drop-button.employer-2 { background-color: #5C5C5C; margin-top:5px;}
.drop-button:hover { background-color: #8D8D94; }

.domain-table { width:100%;color: #303232;  }
.domain-table tr td { vertical-align: middle;}
.domain-table tr td { border-bottom: 1px #F2F2F3 solid; padding: 5px; padding-right: 5px; }
.domain-table tr td.top { border-top:0; }
.domain-table tr td.top.next-top { padding: 8px;padding-left: 12px;padding-top: 8px;padding-bottom: 13px; }
.domain-table tr td.bottom { border-bottom: 1px #222222 solid; }
.domain-table tr td a.dropdown { float: right;display: block;margin-top:-25px;margin-right:13px; }
.domain-table tr td p.domain-link-bottom { font-size:10px; }
.domain-table tr td p.domain-link { margin-bottom: 3px; }
.domain-table tr td p.domain-link a { font-size:13px;color: #303232;font-weight: 400; }
.domain-table tr td.domain-list-td { border-top:1px transparent solid;margin-top: -1px;display: block; }
.domain-table tr td.domain-list-td:hover { border-color: #E8E8E9; }
.domain-input-td { border:0;padding-top:5px;background-color: #FBFBFB;;margin-top:2px;padding-bottom: 10px !important;border-bottom: 1px #F2F2F3 solid; }
.domain-input { padding: 4px;color: #626262;font-weight: 100; border-radius: 2px;width: 240px;font-family: 'Work Sans', sans-serif;margin-bottom: -5px;border: 1px #F2F2F3 solid;box-sizing: border-box;}
.domain-input::-webkit-input-placeholder { color: #626262;font-weight: 100; }
.domain-input::-moz-placeholder { color: #626262;font-weight: 100; }
.domain-ico { color: #5C5C5C; margin-top: 5px;display: block;float: right;margin-right: 5px;}
.tr-hover:hover { background-color: #F1F1F1; cursor: pointer; }
.tr-hover-2:hover { background-color: #F1F1F1; cursor: pointer; }
.tr-hover-3:hover { background-color: #F1F1F1; cursor: pointer;border-color: #e8e8e9; }
.task-table .tr-hover-3:hover td p.task-link-bottom { color: #303232; }

.note-selected {
    background-color: #F1F1F1 !important;border-color: #e8e8e9 !important;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  /*background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  /*background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
 }

.mobile-clear-td { display: none; }
.mobile-left-navi { display: none;  }
.mobile-task-see-btn { display: none;font-size: 15px;line-height: 15px;padding: 5px 10px 5px 10px;color: #fff;cursor: pointer;}
.mobile-task-hide-btn { display: none;font-size: 15px;line-height: 15px;padding: 5px 10px 5px 10px;color: #fff; cursor: pointer;}
.mobile-active-box { z-index: 2; }
.mobile-right-box { background-color: transparent;border-color: transparent;width: 100% !important;height: 40px;bottom: 0 !important;top: auto; }
.mobile-right-box .bottom-buttons { width: 100%; }
.mobile-right-box .add-text { width: 100%; }

span.number-warning { background-color: #EB5566;color:#fff; padding: 1px 5px 1px 5px; border-radius: 10px; text-align: center;display: inline-block; font-size:10px; font-weight: 100;}
span.number { background-color: #8D8D94; padding: 1px 5px 1px 5px; border-radius: 10px; text-align: center;display: inline-block; font-size:10px; font-weight: 100;}
span.acti { background-color: #04A678;color:#fff; }
span.lf-m { margin-left:5px;color:#fff; }

.task-table { width:100%; }
.task-table tr { background-color: #fff; border: 1px #F2F2F3 solid;display: block;margin: 5px;border-radius: 3px;}
.task-table tr td { vertical-align: middle;  padding: 8px;padding-left: 12px;padding-top: 13px;padding-bottom: 13px;}
.task-table tr td.top { width: 150px; }
.task-table tr td.right { width: 54px;padding-right: 5px;vertical-align: top;padding-top: 20px;}
.task-table tr td.right.hidden { text-align: right; }
.task-table tr td.right.hidden a { padding-right: 10px;display: inline-block; }
.task-table tr:nth-child(1) td { border-top: 0; }
.task-table tr td.bottom { border-bottom: 1px #F2F2F3 solid;  }
.task-table tr td a i.accept { font-size: 30px; color:#04A678;}
.task-table tr td i.warning { color:#EB5566; font-size:20px;float: left;margin-right: 5px;margin-top: 7px; }
.task-table tr td i.no-warning { color:#E7E7E7; font-size:20px;float: left;margin-right: 5px;margin-top: 7px; }
.task-table tr.note-selected td i.no-warning { color:#d2d2d2 !important; }
.task-table tr td p.task-link { line-height: 19px;padding-bottom: 3px; }
.task-table tr td p.task-link a { font-size: 11px;display: inline-block; color: #8f9494;line-height: 15px;font-weight: normal;}
.task-table tr td p.task-link-bottom { font-size:12px;margin-top: 3px; color: #303232;font-weight: 400; }
.task-table tr td p.task-link-bottom a { color: #737373; }
.task-table tr td p.task-link-bottom a:hover { color:#f0f0f0; }
.task-table tr td p.task-link-bottom i { font-size:20px; float: left;color:#fff; }
.task-table tr td p.task-link-bottom span { float: left;margin-top: 3px;margin-left: 5px;font-weight: 400; }
.task-table tr td.hidden i.no-warning { color:#8D8D94; font-size:20px; float: none;margin:0; }
.task-table tr td.hidden i.accept, .hidden { color:#5C5C5C; font-size:20px; }
.task-table tr td.hidden p.task-link a { color: #505055; }
.task-table tr td.hidden p.task-link-bottom { color: #505055; }
.task-table tr td a:hover i.look { display:none; }
.task-table tr td a:hover i.hidden { display: inline-block !important;}
.resolution-box { color: #303232 !important;font-size: 10px !important; }

.task-bottom-link {margin-top: -22px !important;float: right;margin-right: -1px; }
.task-bottom-link i { font-size: 11px !important; }
.task-bottom-link button.left-edit-button { margin-right: -6px; }
.task-bottom-link button.right-edit-button { margin-right: -4px;border-radius: 0 3px 0 0; }

.edit-task-tool-box { display: inline-block;width: 212px;margin-top: 15px;margin-right: -125px; }
.edit-task-tool-box button.last-btn { background-color: transparent;border-right: 1px #F2F2F3 solid !important;float: left;height: 24px;width: 30px; }
.edit-task-tool-box .selected-tool-btn { background-color: #FBFBFB !important; }

.tr-hover-4:hover { background-color: #222222; cursor: pointer; }
.tr-hover-4:hover td.hidden p.task-link a { color: #F0F0F0; }
.tr-hover-4:hover td.hidden p.task-link-bottom { color: #737373;}
.load-ico i { color:#f0f0f0; }

.bottom-buttons { position: fixed;bottom:0; width: 250px; }
.bottom-buttons .buttons { width:100%; }
.bottom-buttons .buttons tr td { text-align: center;}
.bottom-buttons .buttons tr td a { display: block; font-size:18px;padding-top: 6px;padding-bottom: 6px;color: #5C5C5C;border-top: 1px #F2F2F3 solid;background-color: #FBFBFB;}
.bottom-buttons .buttons tr td a.active { font-weight: bold; }
.bottom-buttons .buttons tr td a:hover {background-color: #F1F1F1; cursor: pointer;border-top: 1px #e8e8e9 solid;}
.bottom-buttons .buttons tr td a.left { border-right: 1px #fff solid; }
.bottom-buttons .buttons tr td a.add-text-save-btn { width: 83%;display: inline-block;box-sizing: border-box;float: left;border-right: 1px #F2F2F3 solid; }
.bottom-buttons .buttons tr td a.add-text-save-btn:hover { border-right: 1px #e8e8e9 solid; }
.bottom-buttons .buttons tr td a.add-text-exit-btn { width: 17%;display: inline-block;box-sizing: border-box;}
.bottom-buttons .buttons tr td a.add-text-exit-btn:hover { border-left: 1px #e8e8e9 solid;margin-left: -1px;}
.text-sound-page { font-size:13px;color:#5C5C5C; }

.selected-tool-btn { color:#5C5C5C; }
.circle-btn { color:#5C5C5C; }

.add-sound { bottom:45px;position: fixed; background-color:#E7E7E7;  }
.add-sound-table { width:250px; border-top:1px #F2F2F3 solid; padding: 5px;padding-bottom: 12px;}
.add-sound-table tr td { vertical-align: middle;}
.add-sound-table tr td a.rec { width:30px; height: 30px; text-align: center; border-radius:50%; background-color:#F0F0F0; color:#EB5566; display: block;margin-left: 12px; }
.add-sound-table tr td a.rec:hover { color:#c04553; }
.add-sound-table tr td a.rec i { margin-top:7px; }
.add-sound-table tr td p.rec-info { font-size: 12px;color: #5C5C5C;}
.add-sound-table tr td p.rec-time { line-height: 13px;font-size:13px;color:#5C5C5C; }
.bbc-table { margin-left:12px; margin-top:10px; margin-bottom:10px; display: block;}
.bbc-table a.bbc { font-size:20px;border-right:none;  width:30px; height: 30px; text-align: center;display: inline-block;background-color: #8D8D94;color:#fff; margin-right: 1px;float: left;margin-bottom: 10px;}
.bbc-table a.bbc.first { margin-left:0; }
.bbc-table a.bbc:hover { color:#5C5C5C; }
.bbc-table a.bbc i { display: block;margin-top: 5px; }

.add-text-table-div { background-color: #fff;border-radius: 3px; border: 1px #F2F2F3 solid; }
.add-text-table-div .rectangle-btn { background-color: transparent;border-right: 1px #F2F2F3 solid;float: left;height: 24px;width: 30px; }
.add-text-table-div .circle-btn { background-color: transparent;border-right: 1px #F2F2F3 solid;float: left;height: 24px;width: 30px; }
.add-text-table-div .rectangle-btn.selected-tool-btn { background-color: #F1F1F1; }
.add-text-table-div .circle-btn.selected-tool-btn { background-color: #F1F1F1; }

.add-text { bottom:36px;position: fixed; background-color: #FBFBFB; }
.add-text-table { width:250px; border-top:1px #F2F2F3 solid; padding: 5px;box-shadow: 4px 0px 6px 0px rgba(92,92,92,0.5);}
.add-text-table tr td { vertical-align: middle;}
.add-text-table tr td a { color:#5C5C5C; }
.add-text-table tr td textarea.text-task {width:237px;box-sizing: border-box;border-radius: 3px;padding: 5px; background-color: #fff;border:1px #F2F2F3 solid;margin-bottom: -4px; color: #303232;font-family: 'Work Sans', sans-serif;font-weight: 100; }
.none { display:none; }

@media (max-width:480px) {
    .header-box .header-width-table { display: none; }
    .header-box.mobile-active-box .header-width-table { display: table;float: left;width: 91%;padding-left: 2%;margin-bottom: -4px; }
    .header-box.mobile-active-box .header-width-table tr td.td-logo-options { text-align: center;padding-left: 9px;}
    .header-box.mobile-active-box .header-width-table tr td.td-logo-options a { position: relative;right: auto;top: auto;line-height: 12px;}
    .header-box.mobile-active-box .header-width-table tr td.td-logo { display: none; }
    .header-box.mobile-active-box .header-width-table tr td.td-logo-input .head-input { display: none; }
    .header-box.mobile-active-box .header-width-table tr td.td-logo-btns .navi-head-btns { display: none; }
    .header-box.mobile-active-box .header-width-table tr td.right-menu-td { display: none; }
    .header-box.mobile-active-box .header-width-table tr td.td-logo-input-btn { display: table-cell;}
    .header-box.mobile-active-box .header-width-table-1 { background-color: #24888B;width: 100%;line-height: 40px; }
    .header-box.mobile-active-box .header-width-table-1 tr td.td-logo-input .head-input { display: block;padding-right: 10px; }
    .header-box.mobile-active-box .header-width-table-1 tr td.td-logo-btns .navi-head-btns { display: block; }
    .right-box { width: 90%; }
    .navi-right-btn { margin-top: 6px; }
    .employer-table { width: 100.5%; }
    .domain-input { width: 100%; }
    .task-table tr td.top { width: 75%;display: inline-block;float: left;box-sizing: border-box; }
    .task-table tr td.right { width: 25%;display: inline-block;float: left;box-sizing: border-box; }
    .mobile-clear-td { clear: both;width: 100%;display: block; padding: 0 !important; }
    .edit-task-tool-box { width: 100%; }
    .bottom-buttons { width: 90%; }
    .add-text { width: 90%; }
    .add-text-table { width: 100%; }
    .add-text-table tr td textarea.text-task { width: 100%; }
    .mobile-left-navi { display: block;float: left;}
    .header-box.mobile-active-box .mobile-left-navi { float: right;padding-right: 10px;box-sizing: border-box;width: 9%;}
    .mobile-task-see-btn { display: inline-block;padding:0;padding-bottom: 200%;position: absolute;top: 12px;width: 10%;}
    .header-width-table tr td.td-logo-btns.mobile-td-butons { width: 60px; }
    .header-width-table tr td.td-logo-warning.right { width: 40px;}
    .td-logo-warning.standard-top-btn { display: none; }
    .td-logo-warning.mobile-top-btn { display: table-cell; }
}
@media (min-width:481px) and (max-width:640px) {
    .header-box .header-width-table { display: none; }
    .header-box.mobile-active-box .header-width-table { display: table;float: left;width: 91%;padding-left: 2%;margin-bottom: -4px; }
    .header-box.mobile-active-box .header-width-table tr td.td-logo-options { text-align: center;padding-left: 9px;}
    .header-box.mobile-active-box .header-width-table tr td.td-logo-options a { position: relative;right: auto;top: auto;line-height: 12px;}
    .header-box.mobile-active-box .header-width-table tr td.td-logo { display: none; }
    .header-box.mobile-active-box .header-width-table tr td.td-logo-input .head-input { display: none; }
    .header-box.mobile-active-box .header-width-table tr td.td-logo-btns .navi-head-btns { display: none; }
    .header-box.mobile-active-box .header-width-table tr td.right-menu-td { display: none; }
    .header-box.mobile-active-box .header-width-table tr td.td-logo-input-btn { display: table-cell;}
    .header-box.mobile-active-box .header-width-table-1 { background-color: #24888B;width: 100%;line-height: 40px; }
    .header-box.mobile-active-box .header-width-table-1 tr td.td-logo-input .head-input { display: block;padding-right: 10px; }
    .header-box.mobile-active-box .header-width-table-1 tr td.td-logo-btns .navi-head-btns { display: block; }
    .right-box { width: 300px; }
    .navi-right-btn { margin-top: 6px; }
    .employer-table { width: 100.5%; }
    .domain-input { width: 100%; }
    .task-table tr td.top { width: 75%;display: inline-block;float: left;box-sizing: border-box; }
    .task-table tr td.right { width: 25%;display: inline-block;float: left;box-sizing: border-box; }
    .mobile-clear-td { clear: both;width: 100%;display: block; padding: 0 !important; }
    .edit-task-tool-box { width: 100%; }
    .bottom-buttons { width: 90%; }
    .add-text { width: 90%; }
    .add-text-table { width: 100%; }
    .add-text-table tr td textarea.text-task { width: 100%; }
    .mobile-left-navi { display: block;float: left;}
    .header-box.mobile-active-box .mobile-left-navi { float: right;padding-right: 10px;box-sizing: border-box;width: 9%;}
    .mobile-task-see-btn { display: inline-block;padding:0;padding-bottom: 200%;position: absolute;top: 12px;width: 10%;}
    .header-width-table tr td.td-logo-btns.mobile-td-butons { width: 60px; }
    .header-width-table tr td.td-logo-warning.right { width: 40px;}
    .td-logo-warning.standard-top-btn { display: none; }
    .td-logo-warning.mobile-top-btn { display: table-cell; }
}
@media (min-width:641px) and (max-width:768px) {
    .header-width-table tr td.td-logo { width: 42px;overflow: hidden; }
    .logo-box { width: 30px;overflow: hidden; }
    .header-width-table tr td.td-logo-btns {width: 60px; }
    .header-width-table tr td.td-logo-warning.right { width: 40px;}
}
@media (min-width:769px) and (max-width:991px) {
    .header-width-table tr td.td-logo { width: 42px;overflow: hidden; }
    .logo-box { width: 30px;overflow: hidden; }
    .header-width-table tr td.td-logo-btns {width: 60px; }
    .header-width-table tr td.td-logo-warning.right { width: 40px;}
}
@media (min-width:992px) and (max-width:1024px) {
    .header-width-table tr td.td-logo { width: 42px;overflow: hidden; }
    .logo-box { width: 30px;overflow: hidden; }
    .header-width-table tr td.td-logo-btns {width: 10% }
    .header-width-table tr td.td-logo-warning.right { width:10%;}
}
@media (min-width:1025px) and (max-width:1199px) {
    .header-width-table tr td.td-logo-btns {width: 11%; }
    .header-width-table tr td.td-logo-warning.right { width: 11%;}
}
@media (min-width:1200px) and (max-width:1399px) {
    .header-width-table tr td.td-logo-btns {width: 14%; }
    .header-width-table tr td.td-logo-warning.right { width: 14%;}
}
@media (min-width:1400px) and (max-width:1599px) {
    .header-width-table tr td.td-logo-btns { width: 17%; }
    .header-width-table tr td.td-logo-warning.right { width: 17%;}
}
